<p style="color: green"><%= notice %></p>

<h1>Posts (made by PQML)</h1>
<br>
<br>
<%= link_to "New post", new_post_path %>
<br>
<br>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
    <br>
    <br>
  <% end %>
</div>